@tailwind base;
@tailwind components;
@tailwind utilities;

.background-cat {
    margin-top: 30px;
    height: 707px;
    background: url("./assets/HeroImagelg.png");
    background-size: cover;
}

.rounded-top {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.fill-white {
    fill: white;
}

.custom-search {
    margin-top: 40px;
    width: 90%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 59px;
    padding-left: 40px;
}

.montserrat-500 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.background-home {
    height: auto;
    background: #E3E1DC;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.separator {
    margin-top: 5px;
    height: 2px;
    width: 60px;
    border-top: 2px solid black;
}